.h_scroll_items_wrap {
  display: flex;

  .h_scroll_item {
    position: relative;
    display: flex;
    width: 90px;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin: 0 4px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #cddfec;
    background-color: #f7fbff;

    .img_avatar {
      position: relative;
      display: block;
      width: 80px;
      height: 80px;
      margin-bottom: 8px;
      max-width: 100%;
      z-index: 1;
      border-radius: 5px;
      border: none;
      background-size: cover;
      background-position: center 35%;
      background-color: rgba(0, 28, 61, 0.08);
    }

    .price {
      position: absolute;
      top: 0;
      right: -5px;
      min-width: 40px;
      padding: 2px 4px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      border-radius: 3px;
      z-index: 2;
      color: #fff;
      background-color: #5181b8;
    }

    .text {
      text-align: center;
      height: 30px;
      max-width: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      color: #747474;
    }
  }
}


.new_gds {

  .price {
    display: inline-block;
    padding: 2px 4px 0 4px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    background: #5181b8;
  }
}

.main_gallery_wrapper {

  .img_gallery_wrap {
    position: relative;
    height: 190px;
    background-position: center 50%;
    background-color: #cacaca;

    .header_title {
      position: absolute;
      top: 0;
      left: 0;
      padding: 4px 14px;
      //transform: skewX(-22deg);
      border-radius: 0 0 6px 0;
      color: #fff;
      background-color: rgba(62, 139, 218, 0.6);
    }

    .title_wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      padding: 4px 14px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);

      .title {
        width: 64%;
        padding: 15px 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .price {
      position: absolute;
      bottom: 16px;
      right: 14px;
      padding: 6px 12px;
      font-size: 13px;
      font-weight: bold;
      border-radius: 4px;
      color: #fff;
      background-color: #5181b8;
    }
  }
}

.imageGalleryMy {
  width: 100%;
  height: 100%;

  #hud {
    background: rgba(0,0,0,0.6);
    position: absolute;
    padding: 10px 20px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 1.2em;
    pointer-events: none;
    z-index: 3;
  }

  .imageMask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
  }

  .headerGallery {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    z-index: 4;
    background: linear-gradient(rgba(0,0,0,.8), transparent);

    &--ios {
      height: 44px;
    }

    .button {
      display: flex;
      align-items: center;
      height: 44px;
      padding: 0 16px;

      &--ios {
        padding: 0 4px;
      }
    }
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;

    img {
      display: block;
      max-width:100%;
      max-height:100%;
      cursor: move;
      touch-action: none;
    }
  }

  .imageContainerNext {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }

  .imageContainerPrev {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100%;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }

  .textByButtons {
    position: absolute;
    left: 50%;
    bottom: 100px;
    width: 80%;
    padding: 6px 12px;
    font-size: 15px;
    z-index: 2;
    text-align: center;
    border-radius: 4px;
    transform: translateX(-50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
  }

  .buttonsAppleWrap {
    position: absolute;
    left: 50%;
    bottom: 48px;
    width: 120px;
    height: 40px;
    margin-left: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    z-index: 2;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: #fff;
    background: #fff;

    .buttonsAppleItem {
      padding: 10px 0;
      flex-shrink: 0;
      max-width: 100%;
      flex-grow: 1;
      text-align: center;
    }

    .item_apple_in {
      display: inline-block;
      text-align: center;
    }
  }

  .imageFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    //padding-left: 44px;
    font-size: 16px;
    z-index: 2;
    border-top: 1px solid #4c4c4c;
    color: #fff;
    background: linear-gradient(transparent, rgba(0,0,0,.8));

    .footerItem {
      padding: 10px 0;
      flex-shrink: 0;
      max-width: 100%;
      flex-grow: 1;
      text-align: center;
    }

    .item_in {
      display: inline-block;
      text-align: center;
    }
  }
}