.PanelHeader-bg--brand {
  background: #4CAF50;
}

.PanelHeader-content--brand, .PanelHeader-left-in--brand, .PanelHeader-addon--brand, .PanelHeader-right--brand {
  background-color: #4CAF50;
}

.Search--android.Search--default .Search__container {
  background-color: #fff;
}
.Search--android.Search--default .Search__input {
  color: #373737;
}


.Tabs--android.Tabs--light .TabsItem--selected {
  color: #4CAF50;
}

.Tabs--android.Tabs--light .TabsItem--selected::after {
  background-color: #4CAF50;
}

.Link {
  color: #4CAF50;
  text-decoration: none;
}

.Search--android {
  background: #4CAF50;
}

.Search--ios.Search--header {
  background: #4CAF50;
}

.Search--ios.Search--header .Search__after::before {
  background-color: #4CAF50;
}

.Search--ios.Search--header .Search__after::after {
  background-color: #1b711b;
}

.Search--ios.Search--header .Search__control {
  background-color: #1b711b;
}
.Search--ios.Search--header .Search__after-width {
  background: #1b711b;
  color: #1b711b;
}
.Search--ios.Search--header .Search__after {
  background: #4CAF50;
}


.Input-underline::before, .Select-underline::before, .Textarea-underline::before {
  background: #4CAF50;
}
.Input--ios .Input__el:focus {
  border-color: #4CAF50;
}



.Radio--android .Radio__input:checked ~ .Radio__container .Radio__icon {
  border-color: #4CAF50;
}
.Radio--android .Radio__input:checked ~ .Radio__container .Radio__icon::after {
  background-color: #4CAF50;
}
.Radio--ios .Radio__input:checked ~ .Radio__container .Radio__icon {
  border-color: #4CAF50;
}
.Radio--ios .Radio__input:checked ~ .Radio__container .Radio__icon::after {
  background-color: #4CAF50;
}


.Slider__dragger::before {
  background: #4CAF50;
}


img {
  max-width: 100%;
  height: auto;
}

img.center {
  display: block;
  margin: 0 auto;
}


.logo_header {
  position: relative;
  left: 10px;
  top: 9px;
  width: 112px;
}

.logo_header--ios {
  position: relative;
  left: 0;
  top: 4px;
  width: 112px;
}

.message_empty {
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
  color: #8f8f8f;
}


#wrapper {
  position: relative;
  height: 100%;
}

#world_load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .img {
    background: url("/images/logo_150.png");
    width: 80px;
    height: 80px;
    background-size: cover;
    animation:spin 4s linear infinite;
  }
}
@keyframes spin { 100% {transform:rotate(360deg); } }

.pull_down {
  width: 100%;
  height: 40px;

  .img_one {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    background: url("/images/pull_down.png");
    width: 40px;
    height: 40px;
    opacity: 0.5;
    background-size: cover;
    animation:spin_refresh 3s linear infinite;
  }
  .img_two {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    background: url("/images/pull_down.png");
    width: 40px;
    height: 40px;
    opacity: 1;
    background-size: cover;
    animation:spin_refresh 3s linear infinite;
  }
}

@keyframes spin_refresh { 100% {transform:rotate(360deg); } }