.PanelHeader-bg--brand {
  background: #4CAF50;
}

.Tabs--android.Tabs--light .TabsItem--selected {
  color: #4CAF50;
}

.Tabs--android.Tabs--light .TabsItem--selected::after {
  background-color: #4CAF50;
}

.Link {
  color: #4CAF50;
  text-decoration: none;
}

.Search--android {
  background: #4CAF50;
}

.Search--ios.Search--header {
  background: #4CAF50;
}

.Search--ios.Search--header .Search__after::before {
  background-color: #4CAF50;
}

.Search--ios.Search--header .Search__after::after {
  background-color: #1b711b;
}

.Search--ios.Search--header .Search__control {
  background-color: #1b711b;
}
.Search--ios.Search--header .Search__after-width {
  background: #1b711b;
  color: #1b711b;
}
.Search--ios.Search--header .Search__after {
  background: #4CAF50;
}


.Input-underline::before, .Select-underline::before, .Textarea-underline::before {
  background: #4CAF50;
}
.Input--ios .Input__el:focus {
  border-color: #4CAF50;
}



.Radio--android .Radio__input:checked ~ .Radio__container .Radio__icon {
  border-color: #4CAF50;
}
.Radio--android .Radio__input:checked ~ .Radio__container .Radio__icon::after {
  background-color: #4CAF50;
}
.Radio--ios .Radio__input:checked ~ .Radio__container .Radio__icon {
  border-color: #4CAF50;
}
.Radio--ios .Radio__input:checked ~ .Radio__container .Radio__icon::after {
  background-color: #4CAF50;
}


.Slider__dragger::before {
  background: #4CAF50;
}


img {
  max-width: 100%;
  height: auto;
}

img.center {
  display: block;
  margin: 0 auto;
}